:root{
  --primary: #347AF6;
  --primary100: #D6E4FD;
  --primary600: #2A62C5;
  --primary700: #1F4A94;
  --primary-rgb: 52, 122, 246;
  --bg: #EAEEF1;
  --body1: #333333;
  --body2: #555555;
  --success: #14A38B;
  --warning: #F2AC57;
  --error: #FF7171;
  --orange: #F8763F;
  --teal: #2B98BA;
  --black_E:#1E1E1E;
  --bg_fff:#ffff;
  --bg_p_100:#AECAFB;
  --bg_fail:#8E8E8E,
  --back:#000;
  --labBg:#797878
}