.bg{
    background-color: #EBF2FF;  
 }
 .header{
     width: 100%;
     height: calc((100vh * 28)/320);
     /* position: relative; */
 }
 .i_return{
 
     /* position: absolute; */
     width: calc((100vw * 120)/320);
     height: 100%;
     display: flex;
     align-items: center;
     padding:0 2px;
 
 }
 .b_svg{
     width: calc((100vw * 10)/320);
     height: calc((100vh * 17.27)/320);
 }
 .mt20{
     margin-top: calc((100vh * 17.3)/320 );
 }
 .logo{
     height: auto;
     width: calc((100vw * 174)/320);
 }
 .login-cotainer{
     width: 100%;
     /* margin-top: calc((100vh *94)/568); */
 }
 .login-btn{
     width: 100%;
     margin-top: calc((100vh *54)/568);
     margin-bottom: calc((100vh*134)/568);
 }
.tips{
    font-size: calc((100vw*14)/320);
    padding-bottom: calc((100vh*26)/568);
    padding-left: 4px;
    font-weight: 500;
    color: #19191D;
    font-family: 'intermedium';
    word-break: break-word;
}
.tip1{
    color: #4A4B57;
    /* font-family: 'intermedium'; */
    word-break: break-word;
    font-weight: 700;
    padding-left: 4px;
    font-size: calc((100vw*20)/320);
}
.tip2{
    color: #4A4A4A;
    /* font-family: 'intermedium'; */
    word-break: break-word;
    font-weight: 400;
    padding-left: 4px;
    font-size: calc((100vw*14)/320);
    margin-bottom: 18px;
}
 .dialog{
     width: calc((100vw*256)/320);
     height: calc((100vw*51.2)/320);
     background-color: #FFFFFF;
     border-radius: 8px;
     display: flex;
     align-items: center;
     justify-content: space-around;

 }
 .signin{
     /* width: calc((100vw*49)/320); */
     color: #2264D1;
     font-weight: 700;
     font-size: 14px;
     background: #FFFFFF;

     padding: calc((100vw*6)/320) calc((100vw*12)/320);
box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
border-radius: 4px;
margin-right: calc((100vw*16)/320);
 }
 .noticSvg{
     height: calc((100vw*32)/320);
     width: calc((100vw*32)/320);
 }
 .tiptext{
    color:#19191D ;
    font-size: calc((100vw*14)/320);
    letter-spacing: 0.018em;

 }