.bg{
    background-color: #EBF2FF;  
 }
 .content_404{
    width: 100%;
    height:100vh;
    text-align: center;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break:break-word;
    font-size: 15px;
 }
 .back{
    color:var(--primary);
    font-size: 16px;
    font-weight: 600;
    padding:0 12px;
    cursor: pointer;
 }