
.testContext{
    width: 100%;
    padding: 20px 30px;
}
.value_rang{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -6px;
    margin-top: 12px;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}